---
import { changeLanguage } from "i18next";
import "../../styles/styles.css";
import i18n from "../../../i18next";
import "../../components/navbarStyle.css";

changeLanguage("nl");
---

<html lang={i18n.language}>
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="Looking for a website? Look no further here at Codecials we build entire websites which is SEO focused for ultra fast speeds and findability.">
		<link rel="icon" type="image/svg+xml" href="/icons/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Codecials. | Terms of Service</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap" rel="stylesheet">
	</head>
	<body class="h-auto">
		<div class='h-20 container mx-auto'>
			<a href="https://www.codecials.com" class="text-orange text-4xl pt-5 pl-5 block w-max float-left absolute">Code<span class="text-white">cials</span>.</a>
		</div>
		<div class="container mx-auto text-[#ECECEC] font-sans pt-5 pl-5 pr-5">
			<p>
				Welkom bij Codecials!!
				<br />
				Deze Algemene Voorwaarden beschrijven de regels en voorschriften voor het gebruik van de website en diensten van Codecials. Door deze website te bezoeken en onze diensten te gebruiken, gaat u akkoord met deze voorwaarden. Als u het niet eens bent met een deel van deze voorwaarden, maak dan geen gebruik van onze website of diensten.
				<br />
				1. Definities en Interpretatie<br />
					1. 'Website' verwijst naar de officiële website van Codecials.<br />
					2. 'Diensten' verwijst naar alle webontwikkeling, ontwerp en gerelateerde diensten die door Codecials worden aangeboden.<br />
					3. 'Klant,' 'u,' en 'uw' verwijzen naar individuen of entiteiten die onze website bezoeken of onze diensten gebruiken.<br />
					4. 'Codecials,' 'wij,' 'ons,' en 'onze' verwijzen naar het webontwikkelingsbedrijf dat de diensten verleent.<br />
				<br />
				2. Serviceovereenkomst<br />
					1. Door gebruik te maken van onze diensten, gaat u akkoord met de voorwaarden zoals uiteengezet in elke specifieke serviceovereenkomst, voorstel of contract van Codecials. Deze documenten zullen de reikwijdte, resultaten, tijdslijnen en betalingen met betrekking tot het project regelen.<br />
				<br />
				3. Intellectueel Eigendom<br />
					1. Alle intellectuele eigendomsrechten, inclusief auteursrechten, handelsmerken en andere eigen informatie met betrekking tot de diensten die door Codecials worden geleverd, blijven het exclusieve eigendom van Codecials.<br />
					2. U mag geen enkel deel van onze diensten gebruiken of reproduceren zonder onze uitdrukkelijke schriftelijke toestemming.<br />
				<br />
				4. Klantcontent<br />
					1. U verklaart en garandeert dat u de nodige rechten en toestemmingen heeft om alle inhoud (tekst, afbeeldingen, video's, etc.) die u aan ons verstrekt voor gebruik in uw project te gebruiken.<br />
					2. Codecials kan niet aansprakelijk worden gesteld voor enige schending van auteursrechten of intellectueel eigendom die voortvloeit uit het gebruik van door de klant verstrekte inhoud.<br />
				<br />
				5. Betaling en Vergoedingen<br />
					1. U stemt ermee in om Codecials de overeengekomen vergoedingen voor de verleende diensten te betalen volgens de voorwaarden zoals uiteengezet in de serviceovereenkomst of het voorstel.<br />
					2. Betalingstermijnen, -methoden en -schema's worden gespecificeerd in de serviceovereenkomst of het voorstel.<br />
				<br />
				6. Vertrouwelijkheid<br />
					1. Beide partijen komen overeen om vertrouwelijke informatie die tijdens het project wordt gedeeld geheim te houden en deze niet aan derden bekend te maken zonder voorafgaande schriftelijke toestemming.<br />
				<br />
				7. Beëindiging<br />
					1. Elke partij kan de serviceovereenkomst beëindigen als de andere partij een wezenlijke voorwaarde schendt en deze overtreding niet binnen een redelijke termijn herstelt.<br />
					2. Beëindiging ontslaat u niet van uw verplichting om te betalen voor de verleende diensten tot de datum van beëindiging.<br />
				<br />
				8. Aansprakelijkheidsbeperking<br />
					1. Codecials is niet aansprakelijk voor enige schade, verliezen of kosten als gevolg van het gebruik van onze diensten, behalve zoals bepaald in de serviceovereenkomst.<br />
					2. In geen geval zal de totale aansprakelijkheid van Codecials het bedrag overschrijden dat u heeft betaald voor de specifieke diensten die de vermeende schade hebben veroorzaakt.<br />
				<br />
				9. Wijzigingen<br />
					1. Codecials behoudt zich het recht voor om deze Algemene Voorwaarden op elk moment en zonder voorafgaande kennisgeving te wijzigen. De bijgewerkte voorwaarden worden gepost op onze website, en uw voortgezet gebruik van onze diensten vormt uw acceptatie van de herziene voorwaarden.<br />
				<br />
				10. Toepasselijk recht<br />
					1. Deze Algemene Voorwaarden worden beheerst door en geïnterpreteerd volgens de wetten van Nederland, ongeacht de conflicterende wetsbepalingen.<br />
				<br />
				11. Contact<br />
					1. Als u vragen of zorgen heeft over deze Algemene Voorwaarden, neem dan contact met ons op via support@codecials.com.<br />
				<br />
				Door onze website te gebruiken en onze diensten in te schakelen, erkent u dat u deze Algemene Voorwaarden heeft gelezen, begrepen en ermee akkoord gaat. Bedankt dat u Codecials heeft gekozen voor uw webontwikkelingsbehoeften!
			</p>
		</div>
		<footer class="bg-gradient-to-t from-indigo-900 to-blue-800 text-white py-10">
			<div class="container mx-auto px-6 md:px-8">
			<div class="flex flex-col md:flex-row justify-between items-center">
				<div class="mb-6 md:mb-0">
				<h3 class="text-3xl font-bold">Codecials.</h3>
				</div>
				<div class="flex flex-col md:flex-row items-center">
				<div class="mb-4 md:mb-0 md:mr-6 flex items-center">
					<svg
					class="w-5 h-5 text-gray-300"
					fill="none"
					stroke="currentColor"
					viewBox="0 0 24 24"
					xmlns="http://www.w3.org/2000/svg"
					>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="M22 11.08V12a10 10 0 11-5.93-9.14"
					></path>
					</svg>
					<span class="ml-2 text-sm text-gray-300"><a href="mailto:support&#64;codecials.com">support&#64;codecials.com</a></span>
				</div>
				<div class="flex items-center">
					<svg
					class="w-5 h-5 text-gray-300"
					fill="none"
					stroke="currentColor"
					viewBox="0 0 24 24"
					xmlns="http://www.w3.org/2000/svg"
					>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="M12 22s8-4 8-10V6a4 4 0 00-4-4H8a4 4 0 00-4 4v6c0 6 8 10 8 10z"
					></path>
					</svg>
					<span class="ml-2 text-sm text-gray-300">(31) 0640511025</span>
				</div>
				</div>
			</div>
			<div class="mt-8 text-center">
				<p class="text-gray-300 text-sm">&copy; {new Date().getFullYear()} Codecials. All rights reserved.</p>
				<p class="text-gray-300 text-sm">
				<a href="/terms-of-service" class="underline">
					Terms of Service
				</a>
				</p>
			</div>
			</div>
		</footer>
		
		  
	</body>
</html>